.container{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.logo{
    margin-left: 20px;
    font-weight: 600;
    font-size: var(s);
}

.container_searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    margin-left: 0;
  }

  
  .clearSearch {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 25%;
    cursor: pointer;
    color: red;
  }
  .searchInput {
    color: black;
    text-align: left;
    border: 2px solid var(--light-grey);
    border-radius: 30px;
    padding: 10px 10px;
    outline: none;
    width: 200px;
    height: 60px;
  }
    .searchInput:focus {
        border-color: var(--dark-grey);
        background-color: var(--light-grey);
    }
    .searchInput::placeholder {
        color: var(--foreground-rgb);
        font-weight: 500;
    }
    .searchInput::placeholder:focus {
        color: var(--white);
        font-weight: 800;
    }
    .searchButton{
        position: absolute;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: var(--white);
        right: 0;
        transform: translateX(-190%);
    }
