
.fixedContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.filterContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  top: 0;

} 
.filterSilder{
    align-items: center;
    width: 100%;

}
.swiperContainer {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  margin-top: 3rem;
  top: 0;
  z-index: 1;
}

  .filterButton{
    display: flex;
    font-size: var(--text-xl);
  }
  .filterButton1{
    
    border: solid 2px var(--dark-grey);
    padding: 15px 15px;
    border-radius: 20px;
    font-size: 25px;
  }
  .filterButton1:hover{
    box-shadow: 0 0 5px var(--dark-grey);
    font-weight: 800;
  }

  
@media (max-width: 390px) {
    .filterContainer{
        display: block;
    }
    .swiperContainer{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        display: contents;
    }
    .btnPrev, .btnNext {
        display: block;
        margin: auto;
    }
}

/* .btnPrev, .btnNext {
  align-items: center;
    justify-content: center;
    display: flex;
  border: 2px solid var(--dark-grey);
    width: 35px;
    height: 32px;
    border-radius: 50%;
    border-color: var(--dark-grey);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btnPrev::before,
  .btnPrev::after, .btnNext::before, .btnNext::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #000;
    transition: background-color 0.3s;
  }
  .btnPrev::before, .btnNext::before {
    transform: rotate(45deg);
  }
  .btnPrev::after, .btnNext::after{
    transform: rotate(-45deg);
  }
  .btnPrev:hover, .btnNext:hover {
    background-color: #f0f0f0;
  }
  .btnPrev:hover::before,
  .btnPrev:hover::after, .btnNext:hover::before, .btnNext:hover::after {
    background-color: #000;
  } */